<html lang="en">

<head>
    <title>Basic CMS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
{{ nav | safe }}

<div class="editArticleBox">
    <label for="articleTitle">Title</label><input class="editArticleTitle block" id="articleTitle"
                                                  value="{{ article.title or '' }}">
    <label for="articleSubTitle">Subtitle</label><input class="editArticleSubTitle block" id="articleSubTitle"
                                                        value="{{ article.subtitle or '' }}">
    <label for="articlePublishDate">Published</label><input type="datetime-local" class="editArticlePublishDate block" id="articlePublishDate"
                                                            value="{{ article.published.isoformat() if article.published else '' }}">
    <label for="articleImage">Image URL</label><input class="editArticleImage block" id="articleImage" alt=""
                                                      value="{{ article.header_img or '' }}">
    <label for="articleContent">Content</label><textarea class="editArticleContent block"
                                                         id="articleContent">{{ article.content or '' }}</textarea>
</div>

<button onclick="save()">Save</button>

<script>
    const postUrl = "{{ url_for('frontend.index') }}";
    const articleId = {{ article.id }};

    function save() {
        const data = {
            "title": $("#articleTitle").val(),
            "subtitle": $("#articleSubTitle").val(),
            "published": Date.parse($("#articlePublishDate").val())/1000,
            "header_img": $("#articleImage").val(),
            "content": $("#articleContent").val(),
            "id": articleId
        };

        const json = JSON.stringify(data);

        console.log(json);

        const req = new XMLHttpRequest();
        req.open("PUT", "{{ url_for('api.update_article') }}", true);
        req.setRequestHeader('Content-type', 'application/json; charset=utf-8');

        req.onload = function () {
            var res = JSON.parse(req.responseText);
            if (req.readyState === 4) {
                document.location.replace("{{ url_for('frontend.article_read', article_id=article.id) }}");
            }
        }

        req.send(json);
    }
</script>
</body>

</html>