<html lang="en">

<head>
    <title>Basic CMS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
<table id="articleTable">
    <th>Name</th>

    {% for article in articles %}
        <tr><td><a href="/article/read/{{ article.id }}">{{ article.title }}</a></td></tr>
    {% endfor %}
</table>
</body>

</html>