<html lang="en">

<head>
    <title>Basic CMS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
{{ nav | safe }}

<div class="readArticleBox">
    <div class="articleTitle center" id="articleTitle">{{ article.title or '' }}</div>
    <div class="articleSubTitle center" id="articleSubTitle">{{ article.subtitle or '' }}</div>
    <a href="{{ url_for('frontend.article_edit', article_id=article.id) }}">Edit</a>
    <div class="articlePublishDate"
         id="articlePublishDate">Published: {{ article.published.isoformat() if article.published else '' }}</div>
    <img class="articleImage" id="articleImage" alt="" src="{{ article.header_img or '' }}">
    <div class="articleContent" id="articleContent">{{ article.content or '' }}</div>
</div>
</body>

</html>