body {
    background: lightseagreen;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.articleTitle {
    font-size: xx-large;
}

.articleSubTitle {
    font-size: large;
}

.articlePublishDate {
    font-size: small;
}

.articleContent {
    font-family: serif;
    font-size: medium;
    margin-top: 1em;
}

.articleImage {
    border: 1px solid blue;
}

.row {
    display: flex;
    margin: 10px;
}

.column {
    flex: 50%;
}

.block {
    display: block;
}

.editArticleTitle {

}

.editArticleSubTitle {

}

.editArticlePublishDate {

}

.editArticleContent {
    width: 100%;
    height: 50%;
}

.editArticleImage {

}

.navbar {
    background: aquamarine;
    height: 2em;
}

.navHome {
    font-size: large;
    margin-right: 20px;
}