body {
    background-color: #fdcdcd;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #454545;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

body {
    width: 980px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    background-color: #0099cc;
    padding: 5px;
    margin-bottom: 20px;
}

.navbar a {
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
}

.navbar a:hover {
    color: #000000;
    text-decoration: underline;
}

.readArticleBox .editArticleBox {
    width: 100%;
    padding: 10px;
    background-color: #efefef;
    margin-bottom: 20px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.articleTitle {
    font-size: xx-large;
}

.articleSubTitle {
    font-size: large;
}

.articlePublishDate {
    font-size: small;
}

.articleContent {
    font-family: serif;
    font-size: medium;
    margin-top: 1em;
}

.articleImage {
    border: 1px solid blue;
}

.row {
    display: flex;
    margin: 10px;
}

.column {
    flex: 50%;
}

.block {
    display: block;
}

.editArticleTitle {

}

.editArticleSubTitle {

}

.editArticlePublishDate {

}

.editArticleContent {
    width: 100%;
    height: 50%;
}

.editArticleImage {

}



.navHome {
    font-size: large;
}


.navNew {
    font-size: large;
    margin-right: 20px;
}